body {
	background-color: whitesmoke !important;
	font-family: Arial, Helvetica, sans-serif !important;
}

.masthead {
	display: flex;
	align-items: center;
	background-image: linear-gradient(65deg,
			rgb(58, 88, 209) 0%,
			rgb(33, 138, 174) 69%,
			rgb(32, 167, 172) 89%) !important;
	height: 100vh;
}

.masthead .ui.menu .ui.button,
.ui.menu a.ui.inverted.button {
	margin-left: 0.5em;
}

.masthead h1.ui.header {
	font-size: 4em;
	font-weight: normal;
}

.masthead h2 {
	font-size: 1.7em;
	font-weight: normal;
}

.ui.menu a.ui.active.button {
	background-color: black !important;
}

.pushable:not(body) {
	-webkit-transform: none !important;
	-ms-transform: none !important;
	transform: none !important;
}

.pushable:not(body)>.ui.sidebar,
.pushable:not(body)>.fixed,
.pushable:not(body)>.pusher:after {
	position: fixed !important;
	margin-top: 72px !important;
}

.sidebar-color {
	background-color: #f0f5f4 !important;
}

.top-menu-color {
	background-color: rgb(44, 104, 182) !important;
}

.label-color {
	background-color: rgb(218, 183, 27) !important;
}

.custom-header {
	width: 100% !important;
	font-size: 1em !important;
}

.custom-grid {
	padding: 0 !important;
}

.centered {
	display: block !important;
	margin-top: auto !important;
	margin-bottom: auto !important;
	margin-left: auto !important;
	margin-right: auto !important;
}

.customAccordion{
	width: 100% !important;
	font-size: 1.1em !important;
	color: black;
	font-weight: 550;
}